/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgb(236, 236, 236), white);
    height: var(--headerHeight);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

header .logo {
    width: min-content;
    margin: 1rem;   
}

header nav .start {
    width: min-content;
}

header .navRaw1 {
    flex-grow: 1;
}

header .navRaw2 {
    text-align: left;
}

/* Main */

/* Jumbotron */
    .containerJumbo {
        display: flex;
        justify-content: center;
        background-color: var(--jumbotronBackgroundColor);
    }

    .jumbotron {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        margin-top:  var(--headerHeight);
    }

    .jumboTitle {
        width: 100%;
    }

    .jumboDescription {
        width: 30%;
        margin-top: 2rem;
    }

    .jumboImg {
        position: relative;
        width: 70%;
    }

    .jumboImg img {
        position: absolute;
        width: 120%;
        transform: translate(0, 4rem);
    }

/* Plans */
    .plans {
        margin-top: 8rem;
        width: 55%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .plansTitle,
    .plansTable,
    .plansTeam {
        width: 100%;
    }

    .plansTable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        
    }

    .column {
        width: 30%;
        border: 0.5px solid var(--lightblackTextColor);
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .columnTitle {
        width: 100%;
        height: 3rem;
        border-bottom: 0.5px solid var(--lightblackTextColor);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .columnContent {
        width: 80%;
    }

    .columnContent h3 {
        margin: 1.3rem 0 1rem;
    }

    .columnContent h4 {
        margin-top: 0;
        margin-bottom: 4rem;
    }

    .columnContent i {
        margin: 0.7rem;
    }

    .columnRows {
        display: flex;
        min-height: 4.5rem;
        max-height: 4.5rem;
        width: 100%;
    }

    .columnRows h4 {
        margin-bottom: 2rem;
    }
  
    .columnButton h4 {
        margin: 1rem;
    }

    

.columnContent span:last-child {
    padding-bottom: 3rem;
}

.plansTeam {
    margin: 2rem 0;
    border: 0.5px solid var(--lightblackTextColor);
}

.teamContent.team {
    display: flex;
    margin: 2rem;

}

.teamContent {
    width: 95%;
}

/* Features */

.features {
    display: flex;
}

.featuresHeader {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.featuresHeader img {
    object-fit: contain;
    width: 30rem;
}

.featuresHeader span {
    width: 55%;
}

.featuresContent {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}

.featuresTitle {
    width: 100%;
}

.featuresTiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

.featuresTiles section {
    width: 27%;
}

.featuresTiles section img {
    width: 100%;
}

/* Partners */

.partners {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.Box {
    width: calc(100% / 3);
    aspect-ratio: auto 1 / 1;
    display: flex;
    flex-wrap: wrap;
}

.Box img {
    width: 70%;
    object-fit: contain;
}

.smallBox {
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.centralBox {
    box-sizing: border-box;
    padding: 2rem;
    align-content: flex-start;
}

.quoteBox {
    width: 100%;
}

.partnersTitle {
    width: 55%;
    padding: 4rem 0;
}

.footerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 200, 220);
}

.footerBox span {
    max-width: 40% ;
}

/* Faq */

.faq {
    width: 40%;
}

.faqTitle {
    line-height: 2rem;
    border-top: 1px solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqTitle i {
    padding: 2rem;
}

.faq section:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.faqContent {
    color: white;
    height: 0;
    transition: height 0.2s, color 0.1s;
}

.faq section:hover .faqContent {
    color: black;
    font-size: 1rem;
    display: block;
    height: 5rem;
}

/* Footer */
footer {
    margin-top: 10rem;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

footer .container {
    width: 60%;
}

footer .hr {
    width: 100%;
    background-color: white;
    margin-right: 80%;
    margin-left: 0;
    margin-bottom: 0;
    height: 3px;
}

footer ul {
    padding-left: 0;
}

footer section.card {
    width: 20%;
}

footer .lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    line-height: 3rem;
}

.footerFA {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}