:root {
    --headerHeight: 4rem;
    
    --blackTextColor: black;
    --lightblackTextColor: rgba(0, 0, 0, 0.7);
    
    --blueButtonColor: rgb(40, 95, 240);
    --blueButtonTextColor: white;
    --jumbotronBackgroundColor: rgb(185, 207, 229);
} 

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--blackTextColor);
    font-weight: bolder;
    font-size: 5.5rem;
    margin-bottom: 0;
}

h4 {
    color: var(--lightblackTextColor);
    font-weight: 400;
    font-size: 1.2rem;
    
}

.fa-arrow-down {
    font-size: 3rem;
    margin-top: 4rem;
}

/* Containers */

.containerJumbo {
    width: 100%;
    position: absolute;
    top: var(--headerHeight);
    left: 0;
}

/* List */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding: 1.5rem;
}

li a {
    display: block;
}

/* Buttons */

button {
    margin: 2rem 1rem 2rem 0;
    padding: 0.2rem;
    border: none;
}

button h4 {
    color: var(--blueButtonTextColor);
    margin: 0.5rem 1rem;
}

button.blue {
    background-color: var(--blueButtonColor);
}
