:root {
    --headerHeight: 4rem;
    
    --blackTextColor: black;
    --lightblackTextColor: rgba(0, 0, 0, 0.7);
    
    --blueButtonColor: rgb(40, 95, 240);
    --blueButtonTextColor: white;
    --jumbotronBackgroundColor: rgb(185, 207, 229);
} 

html {
    font-family: 'Roboto', sans-serif;
}

.ib {
    display: inline-block;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--blackTextColor);
    font-weight: bolder;
    font-size: 5.5rem;
    margin-bottom: 0;
}

h2 {
    color: var(--blackTextColor);
    font-weight: bolder;
    font-size: 4rem;

}

.columnContent h3 {
    font-size: 2rem;
}

h3 {
    color: var(--blackTextColor);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1.5rem;
}

h4 {
    color: var(--lightblackTextColor);
    font-weight: 400;
    font-size: 1.2rem;
    
}

.featuresTiles section h5 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
}

h5 {
    color: var(--blackTextColor);
    font-weight: bold;
    font-size: 1.2rem;

}

.fa-arrow-down {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

/* Containers */

.containerJumbo {
    width: 100%;
    top: var(--headerHeight);
    left: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* List */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    padding: 1.5rem;
}

header li a {
    display: block;
}

/* Buttons */

button {
    margin: 2rem 1rem 2rem 0;
    padding: 0.2rem;
    border: none;
}

button h4 {
    color: var(--blueButtonTextColor);
    margin: 0.5rem 1rem;
}

.blue {
    background-color: var(--blueButtonColor);
}

.columnButton{
    width: 100%;
    margin: 3rem 0;
}

.team .columnButton {
    width: fit-content;
}

.teamButton {
    white-space: nowrap;
    margin-top: 1rem;
}


/* Horizontal Rule */
.hr {
    margin: 4rem 0;
    width: 30%;
    background-color: var(--lightblackTextColor);
    height: 2px;
    margin-left: 1.5rem;
}

/* Check Blue */
.fa-check {
    color: blue;
}