:root {
    --headerHeight: 4rem;
    
    --blackTextColor: black;
    --lightblackTextColor: rgba(0, 0, 0, 0.7);
    
    --blueButtonColor: rgb(40, 95, 240);
    --blueButtonTextColor: white;
    --jumbotronBackgroundColor: rgb(185, 207, 229);
} 

body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.ib {
    display: inline-block;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--blackTextColor);
    font-weight: bolder;
    font-size: 5.5rem;
    margin-bottom: 0;
}

h2 {
    color: var(--blackTextColor);
    font-weight: bolder;
    font-size: 4rem;

}

.footerBox h2 {
    font-size: 3rem;
    color: rgb(89, 19, 44);
    padding: 4rem 0;
}

.columnContent h3 {
    font-size: 2rem;
}

h3 {
    color: var(--blackTextColor);
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1.5rem;
}
footer h3 {
    font-size: 2.5rem;
}


h4 {
    color: var(--lightblackTextColor);
    font-weight: 400;
    font-size: 1.2rem;
    
}

.featuresHeader h3,
.featuresHeader h4,
.featuresHeader button {
    margin-left: 1rem;
}

.featuresTiles section h5 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
}

h5 {
    color: var(--blackTextColor);
    font-weight: bold;
    font-size: 1.2rem;

}

.buyNow a {
    color: blue;
    text-decoration:underline;
}

footer h3, 
footer h4,
footer h5 {
    color: white;
}

.fa-arrow-down {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

/* Containers */

.containerJumbo {
    width: 100%;
    top: var(--headerHeight);
    left: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* List */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    padding: 1.5rem;
}

header li a {
    display: block;
}

/* Buttons */

button {
    margin: 2rem 1rem 2rem 0;
    padding: 0.2rem;
    border: none;
}

button h4 {
    color: var(--blueButtonTextColor);
    margin: 0.5rem 1rem;
}

.blue {
    background-color: var(--blueButtonColor);
}

.white {
    border: 0.5px solid var(--lightblackTextColor);
    background-color: white;
}

button.white h4 {
    color: var(--lightblackTextColor);
}

.columnButton{
    width: 100%;
    height: 5rem;
    margin: 3rem 0;
}

.team .columnButton {
    width: fit-content;
    cursor: pointer;
}

.teamButton {
    white-space: nowrap;
    margin-top: 1rem;
}


/* Horizontal Rule */
.hr {
    margin: 4rem 0;
    width: 40%;
    background-color: var(--lightblackTextColor);
    filter: opacity(60%);
    height: 2px;
    margin-left: 1.5rem;
}

/* Check Blue */
.fa-check {
    color: blue;
}

/* Boxes Color */

.designitBox {
    box-sizing: border-box;
    background-clip: content-box;
    background-color: rgb(170, 210, 160);
    border: 1.5rem solid rgb(210, 230, 200);
}

.asuBox {
    background-color: rgb(89, 19, 43);
}

.ufBox {
    background-color: rgb(60, 140, 200);
}

.toppsBox {
    background-color: rgb(230, 60, 40);
}

.wbrBox {
    background-color: rgb(190, 40, 40);
}

.hcBox {
    background-color: rgb(180, 200, 220);
}

.lpBox {
    background-color: rgb(19, 30, 120);
}

.ccoBox {
    background-color: rgb(240, 210, 80);
}

.centralBox {
    background-color: rgb(245, 245, 245);
}

.fillColor {
    filter: invert(100%);
}